.homeMindsets {
  max-width: var(--page-max-width);
  margin: 0 auto;
  text-align: left;
  min-height: 400px;
  width: 100%;
  overflow: hidden;
  padding: 0px 16px;
}

.header {
  font-size: var(--font-page-heading);
  font-weight: 800;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selectWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
}

.selectWrapper label {
  font-size: 14px;
  margin: 4px auto 0 auto;
}
.subHeader {
  font-size: var(--font-base);
  color: #000;
  margin-top: 16px;
}

.mindsets {
  margin-top: -8px;
  position: relative;
  margin-bottom: 48px;
}

.mindsetsHeading {
  color: #00a8de;
  font-weight: 800;
  font-size: var(--font-mindset-heading);
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mindsetsHeading svg {
  margin-right: 8px;
  width: 48px;
}

.mindsetsWrapper {
  margin-top: 48px;
}

.mindsetsColumns {
  display: flex;
  flex-wrap: wrap;
  margin: -42px;
}

.mindset {
  width: calc(33.33% - 84px);
  color: black;
  margin: 42px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: stretch;
  /* margin: 10px; */
}

.mindsetLink {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in-out;
  border-radius: 4px;
}

.mindsetLink.disabled {
  background: rgba(255, 255, 255, 0.6);
  cursor: no-drop;
}

.mindsetLink:hover:not(.disabled),
.mindsetLink:focus:not(.disabled),
.mindsetLink:active:not(.disabled) {
  background: rgba(0, 0, 0, 0.4);
  /* transform: scale(2); */
}

.mindsetContent {
  position: relative;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* flex-grow: 1; */
}

.mindsetIcon {
  width: 54px;
  padding-right: 14px;
  height: 100%;
  border-right: 2px solid black;
  position: absolute;
}

.mindsetIcon > svg {
  height: 54px;
  width: 100%;
  display: block;
}

.mindsetImage {
  max-height: 204px;
  width: 100%;
  overflow: hidden;
}

.mindsetImage img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.mindsetTitle {
  font-size: var(--font-larger);
  /* line-height: 28px; */
  margin-left: 70px;
  font-weight: 800;
  max-width: 50%;
}

.mindsetDescription {
  font-size: var(--font-smallest);
  margin-left: 70px;
  font-weight: 400;
  margin-top: 4px;
}

@media screen and (max-width: 1023px) {
  .selectWrapper {
    width: 100%;
  }
  .selectWrapper label {
    margin-left: 0;
    margin-top: 8px;
  }
  .customSelect {
    width: 100%;
  }
  .customSelect a {
    width: 100%;
  }

  .mindsets {
    margin-bottom: 32px;
  }

  .mindsetsHeading {
    margin-bottom: 8px;
  }
  .mindsetsWrapper {
    margin-top: 32px;
  }

  .mindsetsColumns {
    margin: 0px;
  }

  .mindset {
    width: calc(50% - 32px);
    margin: 16px;
  }
}

@media screen and (max-width: 768px) {
  .mindset {
    width: 100%;
    margin: 16px 0px;
  }
}
