.homeMindsets {
  max-width: 1156px;
  margin: 0 auto;
  text-align: left;
  min-height: 400px;
  width: 100%;
  overflow: hidden;
  padding: 0px 16px;
}

.header {
  font-size: var(--font-page-heading);
  font-weight: 800;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.customSelect {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
  z-index: 2;
}

.customSelect.open a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.customSelect > a {
  color: black;
  transition: all 0.25s ease-in-out;
  padding: 16px 24px;
  text-decoration: none;
  min-width: 240px;
  border: 1px solid #000;
  border-radius: 9px;
  font-size: var(--font-larger);
  display: flex;
  align-items: center;
}

.customSelect > a path {
  transition: 0.25s ease-in-out;
}

.customSelect > a:hover,
.customSelect > a:focus {
  /* color: white; */
  /* background: black; */
  /* border: blue; */
  border-color: #00a8de;
  color: #00a8de;
}

.customSelect > a:hover path,
.customSelect > a:focus path {
  fill: #00a8de;
}

.customSelect ul li a:hover,
.customSelect ul li a:focus {
  color: white;
  background: black;
}

.customSelect a svg {
  margin-left: 16px;
  height: 13px;
}

.customSelect ul {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  position: absolute;
  left: 0px;
  top: 100%;
  list-style: none;
  border: 1px solid black;
  border-top: none;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
}

.customSelect.open ul {
  max-height: 400px;
  opacity: 1;
  overflow: auto;
}

.customSelect ul li {
  padding: 0;
  margin: 0;
}

.customSelect ul li a {
  display: block;
  padding: 8px 24px;
  transition: all 0.25s ease-in-out;
  font-size: var(--font-larger);
  color: black;
  border-bottom: 1px solid black;
  background: white;
  font-size: 16px;
}

.customSelect ul li a:hover,
.customSelect ul li a:focus,
.customSelect ul li a:active {
  background: #000;
  color: white;
  cursor: pointer;
}

.customSelect ul li:last-child a {
  border-bottom: none;
}

.mindsets {
  /* margin-top: 48px; */
  position: relative;
  margin-bottom: 48px;
}

.mindsetsHeading {
  color: #00a8de;
  font-weight: 800;
  font-size: var(--font-mindset-heading);
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mindsetsHeading svg {
  margin-right: 8px;
  width: 48px;
}

.mindsetsWrapper {
  margin-top: 48px;
}

.mindsetsColumns {
  display: flex;
  flex-wrap: wrap;
  margin: -42px;
}

.mindset {
  width: calc(33.33% - 84px);
  color: black;
  margin: 42px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: stretch;
  /* margin: 10px; */
}

.mindsetLink {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in-out;
  border-radius: 4px;
}

.mindsetLink.disabled {
  background: rgba(255, 255, 255, 0.6);
  cursor: no-drop;
}

.mindsetLink:hover:not(.disabled),
.mindsetLink:focus:not(.disabled),
.mindsetLink:active:not(.disabled) {
  background: rgba(0, 0, 0, 0.4);
  /* transform: scale(2); */
}

.mindsetContent {
  position: relative;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* flex-grow: 1; */
}

.mindsetIcon {
  width: 54px;
  padding-right: 14px;
  height: 100%;
  border-right: 2px solid black;
  position: absolute;
}

.mindsetIcon > svg {
  height: 54px;
  width: 100%;
  display: block;
}

.mindsetImage {
  max-height: 204px;
  width: 100%;
  overflow: hidden;
}

.mindsetImage img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.mindsetTitle {
  font-size: var(--font-larger);
  /* line-height: 28px; */
  margin-left: 70px;
  font-weight: 800;
  max-width: 50%;
}

.mindsetDescription {
  font-size: var(--font-smallest);
  margin-left: 70px;
  font-weight: 400;
  margin-top: 4px;
}

@media screen and (max-width: 1023px) {
  .customSelect {
    width: 100%;
  }
  .customSelect a {
    width: 100%;
  }

  .mindsets {
    margin-bottom: 32px;
  }

  .mindsetsHeading {
    margin-bottom: 8px;
  }
  .mindsetsWrapper {
    margin-top: 32px;
  }

  .mindsetsColumns {
    margin: 0px;
  }

  .mindset {
    width: calc(50% - 32px);
    margin: 16px;
  }
}

@media screen and (max-width: 768px) {
  .mindset {
    width: 100%;
    margin: 16px 0px;
  }
}
