.homeHero {
  position: relative;
  height: 816px;
  color: white;
  overflow: hidden;
}

.homeHero > div > div + div > div {
  width: 100%;
}

.heroContent {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.purenz {
  z-index: 1;
}

.mindsets {
  margin-top: 100px;
}

.mindsets h1 {
  color: white;
  font-size: var(--font-hero) !important;
  margin: 0;
  text-align: left;
  font-family: "Pakati", Impact, "Gill Sans", "Arial Black", Verdana, Tahoma,
    sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-feature-settings: "liga" 1, "calt" 1, "dlig" 1;
  line-height: 0.9;
  /* font-size: clamp(40px, 20vw, 180px); */
  /* font-size: calc (14px + (180px – 20) * ((100vw – 768px) / (1920 – 300))); */
}

.content {
  max-width: 617px;
  font-weight: 400;
  font-size: var(--font-base);
  margin-top: 40px;
}
.content p {
  margin: 0;
}

.content b {
  font-weight: 800;
}

.content a {
  color: white;
  text-decoration: underline;
}

.content a:hover,
.content a:focus,
.content a:active {
  color: black;
}

@media screen and (max-width: 1023px) {
  .mindsets h1 {
  }
  .content {
    margin-top: 60px;
  }
  .content > p:first-child {
    margin-bottom: 12px;
  }
  .heroContent {
    padding-left: 16px;
    padding-right: 16px;
  }

  .homeHero > div > div > div {
    background-position-x: left !important;
  }
}
