html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
img {
  border: 0;
  display: block;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
figure img {
  width: 100%;
  height: auto;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
textarea {
  color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #dedede;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
td,
th {
  line-height: 1;
  padding: 0;
}
th {
  padding-bottom: 5px;
}
th:not(:last-child) {
  padding-right: 20px;
}
td {
  vertical-align: top;
}
td:not(:last-child) {
  padding-right: 20px;
}
iframe {
  border: 0;
  max-width: 100%;
}
@font-face {
  font-display: swap;
  font-family: "National";
  font-style: normal;
  font-weight: 400;
  src: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/fonts/national/NationalWebLF-Book.woff2?__appVersion__")
      format("woff2"),
    url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/fonts/national/NationalWebLF-Book.woff?__appVersion__")
      format("woff");
}
@font-face {
  font-display: swap;
  font-family: "National";
  font-style: normal;
  font-weight: 600;
  src: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/fonts/national/NationalWebLF-Medium.woff2?__appVersion__")
      format("woff2"),
    url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/fonts/national/NationalWebLF-Medium.woff?__appVersion__")
      format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Pakati";
  font-weight: 600;
  font-style: normal;
  src: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/fonts/pakati/PurePakati-Regular.woff2?__appVersion__")
      format("woff2"),
    url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/fonts/pakati/PurePakati-Regular.woff?__appVersion__")
      format("woff");
}
:root {
  color: #444;
  font-family: "National", "Trebuchet MS", Helvetica, Arial, Verdana, Tahoma,
    sans-serif;
  font-weight: 400;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
:lang(ja) body,
:lang(zh) body,
:lang(ko) body {
  font-size: 15.2px;
  font-size: 1.52rem;
}
@media (min-width: 640px) {
  body {
    font-size: 18px;
    font-size: 1.8rem;
  }
  :lang(ja) body,
  :lang(zh) body,
  :lang(ko) body {
    font-size: 17.1px;
    font-size: 1.71rem;
  }
}
:lang(ja) body {
  font-family: "National", "Arial Unicode MS", sans-serif;
}
:lang(zh) body {
  font-family: "National", "Arial Unicode MS", sans-serif;
}
:lang(ko) body {
  font-family: "National", "Apple SD Gothic Neo Medium",
    "애플 SD 산돌고딕 Neo Medium", "Nanum Gothic Regular", "나눔고딕 Regular",
    "HCR Dotum Regular", "AppleGothic Regular", "AppleGothic 일반체",
    "Arial Unicode MS", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d2d2d;
  line-height: 1;
  margin: 1em 0 0.25em;
}
h1,
h2 {
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
}
:lang(ja) h1,
:lang(zh) h1,
:lang(ko) h1,
:lang(ja) h2,
:lang(zh) h2,
:lang(ko) h2 {
  font-size: 28.5px;
  font-size: 2.85rem;
}
@media (min-width: 768px) {
  h1,
  h2 {
    font-size: 36px;
    font-size: 3.6rem;
  }
  :lang(ja) h1,
  :lang(zh) h1,
  :lang(ko) h1,
  :lang(ja) h2,
  :lang(zh) h2,
  :lang(ko) h2 {
    font-size: 34.2px;
    font-size: 3.42rem;
  }
}
h3 {
  font-size: 23px;
  font-size: 2.3rem;
}
:lang(ja) h3,
:lang(zh) h3,
:lang(ko) h3 {
  font-size: 21.85px;
  font-size: 2.185rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 25px;
    font-size: 2.5rem;
  }
  :lang(ja) h3,
  :lang(zh) h3,
  :lang(ko) h3 {
    font-size: 23.75px;
    font-size: 2.375rem;
  }
}
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}
:lang(ja) h4,
:lang(zh) h4,
:lang(ko) h4 {
  font-size: 17.1px;
  font-size: 1.71rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 22px;
    font-size: 2.2rem;
  }
  :lang(ja) h4,
  :lang(zh) h4,
  :lang(ko) h4 {
    font-size: 20.9px;
    font-size: 2.09rem;
  }
}
h5 {
  font-size: 16px;
  font-size: 1.6rem;
}
:lang(ja) h5,
:lang(zh) h5,
:lang(ko) h5 {
  font-size: 15.2px;
  font-size: 1.52rem;
}
@media (min-width: 768px) {
  h5 {
    font-size: 20px;
    font-size: 2rem;
  }
  :lang(ja) h5,
  :lang(zh) h5,
  :lang(ko) h5 {
    font-size: 19px;
    font-size: 1.9rem;
  }
}
h6 {
  font-size: 16px;
  font-size: 1.6rem;
}
:lang(ja) h6,
:lang(zh) h6,
:lang(ko) h6 {
  font-size: 15.2px;
  font-size: 1.52rem;
}
@media (min-width: 768px) {
  h6 {
    font-size: 18px;
    font-size: 1.8rem;
  }
  :lang(ja) h6,
  :lang(zh) h6,
  :lang(ko) h6 {
    font-size: 17.1px;
    font-size: 1.71rem;
  }
}
.page-title {
  font-size: 36px;
  font-size: 3.6rem;
  text-align: center;
}
:lang(ja) .page-title,
:lang(zh) .page-title,
:lang(ko) .page-title {
  font-size: 34.2px;
  font-size: 3.42rem;
}
:not(:lang(ja)):not(:lang(zh)):not(:lang(ko)) .page-title {
  -ms-font-feature-settings: "liga" 1, "calt" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "calt" 1, "dlig" 1;
  -webkit-font-feature-settings: "liga" 1, "calt" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "calt" 1, "dlig" 1;
  font-family: "Pakati", Impact, "Gill Sans", "Arial Black", Verdana, Tahoma,
    sans-serif;
  text-transform: uppercase;
  line-height: 0.95;
}
:lang(ja) .page-title,
:lang(zh) .page-title,
:lang(ko) .page-title {
  font-weight: bold;
}
:lang(ja) .page-title {
  font-family: "National", "Kozuka Gothic Pro B", "小塚ゴシック Pro B",
    "MS UI Gothic", Osaka, "MS Gothic", "Arial Unicode MS", sans-serif;
}
:lang(zh) .page-title {
  font-family: "National", "Heiti SC Medium", "黑体-简 中黑",
    "Hiragino Sans GB W6", "冬青黑体 W6", SimHei, "MS Hei", "Arial Bold",
    sans-serif;
}
:lang(ko) .page-title {
  font-family: "National", "Apple SD Gothic Neo ExtraBold",
    "애플 SD 산돌고딕 Neo ExtraBold", "Baemuk Headline",
    "Nanum Gothic Extra Bold", "나눔고딕 ExtraBold", "HCR Dotum Bold",
    "Adobe Gothic Std B", "Adobe 고딕 Std B", "Arial Bold", sans-serif;
}
@media (min-width: 640px) {
  .page-title {
    font-size: 40px;
    font-size: 4rem;
  }
  :lang(ja) .page-title,
  :lang(zh) .page-title,
  :lang(ko) .page-title {
    font-size: 38px;
    font-size: 3.8rem;
  }
}
@media (min-width: 768px) {
  .page-title {
    font-size: 60px;
    font-size: 6rem;
  }
  :lang(ja) .page-title,
  :lang(zh) .page-title,
  :lang(ko) .page-title {
    font-size: 57px;
    font-size: 5.7rem;
  }
}
.module-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.module-title + .intro {
  margin-top: -10px;
}
@media (min-width: 640px) {
  .module-title {
    margin-bottom: 30px;
  }
  .module-title + .intro {
    margin-top: -20px;
  }
}
.row--blue .module-title {
  color: #fff;
}
.module-title--small {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 640px) {
  .module-title--small {
    margin-bottom: 10px;
  }
}
body p {
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
}
.intro {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
:lang(ja) .intro,
:lang(zh) .intro,
:lang(ko) .intro {
  font-size: 20.9px;
  font-size: 2.09rem;
}
@media (min-width: 768px) {
  .intro {
    font-size: 28px;
    font-size: 2.8rem;
  }
  :lang(ja) .intro,
  :lang(zh) .intro,
  :lang(ko) .intro {
    font-size: 26.6px;
    font-size: 2.66rem;
  }
}
blockquote {
  border-left: 2px solid #444;
  padding-left: 18px;
  margin-left: 0;
}
blockquote > p:first-child:before {
  content: "“";
}
blockquote > p:last-of-type:after {
  content: "”";
}
cite {
  display: block;
  font-style: normal;
  line-height: 1.2;
}
ul,
ol {
  padding-left: 20px;
}
:lang(zh) ul,
:lang(zh) ol {
  padding-left: 40px;
}
:lang(ja) ul,
:lang(ja) ol {
  padding-left: 25px;
}
:lang(ko) ul,
:lang(ko) ol {
  padding-left: 40px;
}
:lang(zh) ol {
  list-style: simp-chinese-informal;
}
:lang(ja) ol {
  list-style: hiragana;
}
:lang(ko) ol {
  list-style: korean-hanja-informal;
}
a {
  color: #0093de;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
a:active,
a:hover {
  color: #0071ab;
  text-decoration: underline;
}
strong,
b {
  font-weight: 600;
}
sup {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1;
  vertical-align: super;
}
sub {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1;
  vertical-align: sub;
}
.no-tab *:focus {
  outline: 0 none !important;
  text-decoration: none !important;
}
.user-tab *:focus {
  outline: 2px solid #7aacfe !important;
  outline: 5px auto -webkit-focus-ring-color !important;
}
@media (min-width: 640px) {
  .adaptive-text\@phablet\+[data-title]:after {
    content: attr(data-title);
  }
  .adaptive-text\@phablet\+ .adaptive-text__label {
    display: inline-block;
    font-size: 0;
    speak: none;
    text-indent: -999rem;
  }
}
@media (min-width: 768px) {
  .adaptive-text\@tablet\+[data-title]:after {
    content: attr(data-title);
  }
  .adaptive-text\@tablet\+ .adaptive-text__label {
    display: inline-block;
    font-size: 0;
    speak: none;
    text-indent: -999rem;
  }
}
@media (min-width: 920px) {
  .adaptive-text\@tabtop\+[data-title]:after {
    content: attr(data-title);
  }
  .adaptive-text\@tabtop\+ .adaptive-text__label {
    display: inline-block;
    font-size: 0;
    speak: none;
    text-indent: -999rem;
  }
}
@media (max-width: 767px) {
  .adaptive-text\@tablet-[data-title]:after {
    content: attr(data-title);
  }
  .adaptive-text\@tablet- .adaptive-text__label {
    display: inline-block;
    font-size: 0;
    speak: none;
    text-indent: -999rem;
  }
}
.constrained-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 965px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.constrained-wrapper:before,
.constrained-wrapper:after {
  content: " ";
  display: table;
}
.constrained-wrapper:after {
  clear: both;
}
@media (max-width: 639px) {
  .constrained-width .constrained-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 640px) {
  .constrained-wrapper\@phablet\+ {
    margin-left: auto;
    margin-right: auto;
    max-width: 965px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
  .constrained-wrapper\@phablet\+:before,
  .constrained-wrapper\@phablet\+:after {
    content: " ";
    display: table;
  }
  .constrained-wrapper\@phablet\+:after {
    clear: both;
  }
}
@media (min-width: 640px) and (max-width: 639px) {
  .constrained-width .constrained-wrapper\@phablet\+ {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .constrained-wrapper\@tablet\+ {
    margin-left: auto;
    margin-right: auto;
    max-width: 965px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
  .constrained-wrapper\@tablet\+:before,
  .constrained-wrapper\@tablet\+:after {
    content: " ";
    display: table;
  }
  .constrained-wrapper\@tablet\+:after {
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  .constrained-width .constrained-wrapper\@tablet\+ {
    padding-left: 0;
    padding-right: 0;
  }
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row:not(.row--0) {
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .row:not(.row--0) {
    margin-bottom: 40px;
  }
}
.row--mtop {
  margin-top: 20px;
}
@media (min-width: 640px) {
  .row--mtop {
    margin-top: 40px;
  }
}
.row--black {
  background-color: #171717;
  color: #fff;
}
.row--dark {
  background-color: #2d2d2d;
}
.row--blue {
  background-color: #21627c;
  color: #fff;
}
.row--grey {
  background-color: #f7f7f7;
  border-top: 1px solid #dedede;
}
.row--grey-alt {
  background-color: #f1f1f1;
}
.row--grey-no-border {
  background-color: #f7f7f7;
}
.row--grey-no-border-alt {
  background-color: #f1f1f1;
}
.row--boxed {
  padding-bottom: 20px;
  padding-top: 20px;
}
@media (min-width: 640px) {
  .row--boxed {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
.row--boxed :first-child {
  margin-top: 0;
}
.row--boxed :last-child {
  margin-bottom: 0;
}
@media (max-width: 1023px) {
  .row--hide\@desktop- {
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
    overflow: hidden;
  }
  .row--hide\@desktop- > * {
    display: none;
  }
}
@media (min-width: 1024px) {
  .row--hide\@desktop\+ {
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
    overflow: hidden;
  }
  .row--hide\@desktop\+ > * {
    display: none;
  }
}
.constrained-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 920px) {
  .constrained-width {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 920px) {
  .constrained-width > .col {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 920px) {
  .row > .col > .constrained-width {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.col {
  position: relative;
  width: 100%;
}
.col--pos-1-2 {
  float: left;
}
.col--pos-2-2 {
  float: right;
}
.col:not(:empty) + .col {
  margin-top: 20px;
}
@media (min-width: 640px) {
  .col:not(:empty) + .col {
    margin-top: 40px;
  }
}
@media (min-width: 920px) {
  .col:not(:empty) + .col {
    margin-top: 0;
  }
}
@media (min-width: 920px) and (max-width: 1023px) {
  .col:not(:empty) + .col--1-2,
  .col:not(:empty) + .col--2-4 {
    margin-top: 40px;
  }
}
@media (min-width: 1024px) {
  .col--1-2,
  .col--2-4 {
    width: 50%;
  }
}
@media (min-width: 920px) and (max-width: 1023px) {
  .col--1-2.push--1-4,
  .col--2-4.push--1-4 {
    width: 66.666%;
  }
}
@media (min-width: 920px) {
  .col--1-4 {
    width: 33.333%;
  }
}
@media (min-width: 1024px) {
  .col--1-4 {
    width: 25%;
  }
}
@media (min-width: 920px) {
  .col--3-4 {
    width: 66.666%;
  }
}
@media (min-width: 1024px) {
  .col--3-4 {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .push--1-4 {
    margin-left: 25%;
  }
}
@media (min-width: 920px) {
  .push--1-2 {
    margin-left: 33.333%;
  }
}
@media (min-width: 1024px) {
  .push--1-2 {
    margin-left: 50%;
  }
}
.o-icon {
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  vertical-align: middle;
}
.o-icon--stack {
  display: block;
  margin-right: 0;
}
.o-icon--stack svg {
  margin-left: auto;
  margin-right: auto;
}
.o-icon svg {
  fill: currentColor;
  display: block;
  height: 24px;
  vertical-align: inherit;
  width: 24px;
}
.o-icon svg.search {
  margin-left: 0;
}
.o-icon--small svg {
  height: 16px;
  width: 16px;
}
.o-icon--small .directions,
.o-icon--small .ellipsis {
  height: 20px;
  width: 20px;
}
.o-icon--small .mobile {
  height: 21px;
}
.o-button .o-icon--small .phone {
  margin-bottom: -2px;
}
.o-button .o-icon--small .mobile {
  margin-bottom: -5px;
  margin-top: -3px;
}
.contact__link--boxed .o-icon--small .ellipsis {
  margin-bottom: -4px;
}
.contact__link--boxed .o-icon--small .directions {
  margin-bottom: -2px;
  margin-top: -2px;
}
@media (max-width: 639px) {
  .o-icon--small\@phablet- svg {
    height: 16px;
    width: 16px;
  }
}
.o-icon--medium svg {
  height: 32px;
  width: 32px;
}
.o-icon--large svg {
  height: 50px;
  width: 50px;
}
@media (min-width: 640px) {
  .o-icon--large\@phablet\+ svg {
    height: 64px;
    width: 64px;
  }
}
.o-icon--inline {
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  vertical-align: middle;
}
.o-link .o-icon--inline .directions {
  margin-top: -4px;
}
.o-icon--square,
.o-icon--circle {
  background-color: #0093de;
  border-radius: 3px;
  padding: 1px;
}
.o-icon--square svg,
.o-icon--circle svg {
  fill: #fff;
}
.o-icon--circle {
  border-radius: 50%;
  padding: 7px;
}
.o-icon--square {
  vertical-align: text-top;
}
.o-icon--square svg {
  height: 16px;
  width: 16px;
}
.o-dropdown {
  position: relative;
}
.o-dropdown:focus .o-dropdown__content,
.o-dropdown:hover .o-dropdown__content {
  display: block;
}
.o-dropdown__content {
  left: 0;
  position: absolute;
  top: 100%;
}
.o-dropdown__icon {
  background-color: #171717;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #454545;
  color: #fff;
  line-height: 8px;
  margin-right: 0;
  padding: 2px;
  vertical-align: sub;
}
.o-dropdown__icon svg {
  height: 15px;
  margin: -2px 0;
  width: 15px;
}
.o-dropdown__trigger:focus .o-dropdown__icon,
.o-dropdown__trigger:hover .o-dropdown__icon {
  border-color: #55beff;
}
[class*="o-ratio"] {
  display: block;
  height: 0;
}
.o-ratio--1-1 {
  padding-bottom: 100%;
}
@media (min-width: 640px) {
  .o-ratio--1-1\@phablet\+ {
    padding-bottom: 100%;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .o-ratio--1-1\@phablet\+\@desktop- {
    padding-bottom: 100%;
  }
}
@media (min-width: 1024px) {
  .o-ratio--1-1\@desktop\+ {
    padding-bottom: 100%;
  }
}
.site-logo img {
  height: auto;
  max-height: 37px;
  max-width: 100%;
  width: auto;
}
:lang(zh) .site-logo img {
  max-height: 27px;
}
@media (min-width: 768px) {
  .site-logo {
    max-height: 27px;
    float: left;
  }
}
@media (min-width: 768px) {
  .site-logo__asset--compact {
    display: none;
  }
}
@media (max-width: 767px) {
  .site-logo__asset--wide {
    display: none;
  }
}
.edition-switcher {
  display: inline-block;
}
.edition-switcher__label {
  background-color: transparent;
  border: 0;
  margin: 0;
}
.edition-switcher__label:focus,
.edition-switcher__label:hover {
  text-decoration: underline;
}
.edition-switcher__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: #202020;
  width: 300px;
  z-index: 102;
}
.edition-switcher__list:before,
.edition-switcher__list:after {
  content: " ";
  display: table;
}
.edition-switcher__list:after {
  clear: both;
}
:lang(ja) .edition-switcher__list,
:lang(zh) .edition-switcher__list,
:lang(ko) .edition-switcher__list {
  list-style: none;
  padding-left: 0;
}
.edition-switcher__item {
  float: left;
  font-size: inherit;
  width: 50%;
}
.edition-switcher__item:nth-of-type(n + 3) {
  border-top: 1px solid #373737;
}
.edition-switcher__link {
  color: #55beff;
  cursor: pointer;
  display: block;
  padding: 4px 7px 3px;
  -webkit-transition: 0.4s, padding 0.5s;
  transition: 0.4s, padding 0.5s;
}
.edition-switcher__link:focus,
.edition-switcher__link:hover {
  background-color: #373737;
  color: #55beff;
  padding: 4px 3px 3px 11px;
  text-decoration: none;
}
.edition-switcher__link:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: inline-block;
  height: 12px;
  margin-right: 7px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  width: 16px;
}
.edition-switcher__link--int:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/int.svg");
}
.edition-switcher__link--ar:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/ar.svg");
}
.edition-switcher__link--au:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/au.svg");
}
.edition-switcher__link--br:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/br.svg");
}
.edition-switcher__link--ca:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/ca.svg");
}
.edition-switcher__link--cl:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/cl.svg");
}
.edition-switcher__link--cn:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/cn.svg");
}
.edition-switcher__link--de:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/de.svg");
}
.edition-switcher__link--fr:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/fr.svg");
}
.edition-switcher__link--ie:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/ie.svg");
}
.edition-switcher__link--id:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/id.svg");
}
.edition-switcher__link--in:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/in.svg");
}
.edition-switcher__link--jp:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/jp.svg");
}
.edition-switcher__link--kr:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/kr.svg");
}
.edition-switcher__link--my:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/my.svg");
}
.edition-switcher__link--mx:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/mx.svg");
}
.edition-switcher__link--nl:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/nl.svg");
}
.edition-switcher__link--nz:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/nz.svg");
}
.edition-switcher__link--sg:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/sg.svg");
}
.edition-switcher__link--uk:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/uk.svg");
}
.edition-switcher__link--us:before {
  background-image: url("https://www.newzealand.com/resources/themes/tourism/dist/405bf0403d3206ee03cc15e0566b7685/images/flags/us.svg");
}
.edition-switcher__select {
  width: 100%;
}
.primary-menu .o-icon {
  margin-right: 0;
}
.primary-menu__mobile-button {
  font-size: 15px;
  font-size: 1.5rem;
  background: transparent;
  border: 1px solid #454545;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  line-height: 21px;
  height: 23px;
  padding-left: 3px;
  padding-right: 5px;
  text-transform: uppercase;
}
:lang(ja) .primary-menu__mobile-button {
  font-size: 13px;
  font-size: 1.3rem;
}
:lang(ko) .primary-menu__mobile-button {
  line-height: 27px;
}
.primary-menu__mobile-button:active,
.primary-menu__mobile-button:hover {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .primary-menu__mobile-button {
    display: none;
  }
}
.primary-menu__mobile-icon {
  float: left;
  margin-right: 3px;
}
.primary-menu__mobile-icon svg {
  height: 20px;
  width: 20px;
}
@media (max-width: 767px) {
  .primary-menu {
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 102;
  }
  .primary-menu:not(.is-active) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@media (min-width: 768px) {
  .primary-menu {
    margin-top: 10px;
  }
}
.primary-menu__close,
.primary-menu__back {
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0093de;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0;
  background: #2d2d2d;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  height: 45px;
  line-height: 41px;
  padding: 0 5px;
  text-align: center;
  width: 45px;
}
.primary-menu__close .o-icon,
.primary-menu__back .o-icon {
  margin-right: 0;
}
@media (min-width: 768px) {
  .primary-menu__close,
  .primary-menu__back {
    display: none;
  }
}
.primary-menu__close {
  position: fixed;
  right: 0;
  top: 0;
}
@media (max-width: 767px) {
  .primary-menu__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: sticky;
    top: 0;
  }
}
@media (min-width: 768px) {
  .primary-menu__header {
    display: none;
  }
}
.primary-menu__back {
  background-color: #21627c;
}
.primary-menu__breadcrumbs {
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  font-size: 16px;
  background-color: #3e7c93;
  padding: 10px 15px;
  line-height: 25px;
  top: 0;
  right: 45px;
  left: 45px;
}
@media (min-width: 768px) {
  .primary-menu__breadcrumbs {
    display: none;
  }
}
.primary-menu__bar {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
:lang(ja) .primary-menu__bar,
:lang(zh) .primary-menu__bar,
:lang(ko) .primary-menu__bar {
  list-style: none;
  padding-left: 0;
}
@media (max-width: 767px) {
  .primary-menu__bar {
    background-color: #171717;
    position: absolute;
    top: 0;
    right: 45px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
  }
}
@media (min-width: 768px) {
  .primary-menu__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.primary-menu__item {
  font-size: 18px;
  font-size: 1.8rem;
}
@media (max-width: 767px) {
  .primary-menu__item {
    border-bottom: 1px solid #373737;
  }
  :lang(ja) .primary-menu__item,
  :lang(id) .primary-menu__item {
    font-size: 16px;
    font-size: 1.6rem;
  }
  :lang(ko) .primary-menu__item {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
@media (max-width: 639px) {
  :lang(ko) .primary-menu__item {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .primary-menu__item {
    font-size: 17px;
    font-size: 1.7rem;
    z-index: 99;
  }
}
@media (min-width: 768px) and (max-width: 919px) {
  :lang(ko) .primary-menu__item {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .primary-menu__item {
    position: relative;
  }
  :lang(ja) .primary-menu__item,
  :lang(ko) .primary-menu__item {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .primary-menu__item--home .o-icon {
    display: none;
  }
}
@media (min-width: 768px) {
  .primary-menu__item--home .primary-menu__label {
    display: none;
  }
  .primary-menu__item--home .primary-menu__link {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    height: 26px;
    padding-bottom: 9px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .primary-menu__item--home .primary-menu__link {
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media (min-width: 768px) {
  .primary-menu__item--home .primary-menu__link:before {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 22px;
  }
}
.primary-menu__link {
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  line-height: 25px;
  padding: 10px 20px;
  text-align: left;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.primary-menu__link:focus,
.primary-menu__link:hover {
  color: #fff;
  text-decoration: none;
}
.no-touch .primary-menu__link:hover,
.primary-menu__link.is-active,
.primary-menu__link.is-current {
  background-color: #21627c;
}
@media (min-width: 768px) {
  .primary-menu__link {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    white-space: nowrap;
  }
  :lang(kr) .primary-menu__link,
  :lang(cn) .primary-menu__link,
  :lang(jp) .primary-menu__link {
    padding-bottom: 8px;
    padding-top: 12px;
  }
}
@media (min-width: 1024px) {
  .primary-menu__link {
    padding-left: 15px;
    padding-right: 15px;
  }
  .primary-menu__link:hover {
    background-color: #21627c;
  }
}
.primary-menu__link[aria-haspopup="true"] {
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  position: relative;
}
@media (max-width: 767px) {
  .primary-menu__link[aria-haspopup="true"] {
    width: 100%;
  }
  .primary-menu__link[aria-haspopup="true"]:after {
    content: "+";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    width: 45px;
    text-align: center;
    line-height: 1.1;
    font-weight: bold;
    font-size: 36px;
    padding: 0 5px;
  }
}
.primary-menu__link[aria-haspopup="true"][aria-expanded="true"] {
  background-color: #21627c;
}
@media (max-width: 767px) {
  .primary-menu__link[aria-haspopup="true"][aria-expanded="true"]:after {
    content: "-";
  }
}
.submenu {
  height: auto;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .submenu {
    -webkit-transition: height 0.25s ease-in;
    transition: height 0.25s ease-in;
  }
}
.submenu:not(.is-active) {
  height: 0;
}
@media (max-width: 1023px) {
  .submenu:not(.is-active) {
    -webkit-transition: height 0.15s ease-out;
    transition: height 0.15s ease-out;
  }
}
@media (min-width: 768px) {
  .pagehead__header--unpinned .submenu {
    max-height: 0 !important;
  }
}
@media (max-width: 767px) {
  .submenu {
    background-color: #3e7c93;
  }
}
@media (min-width: 768px) {
  .submenu {
    background-color: #202020;
    left: 0;
    max-height: calc(100vh - 97px);
    overflow: auto;
    position: absolute;
    top: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .submenu {
    right: 0;
  }
}
@media (min-width: 1024px) {
  .submenu {
    max-height: calc(100vh - 102px);
  }
}
.submenu__alt-text {
  display: block;
}
.submenu__close {
  position: absolute;
}
@media (max-width: 767px) {
  .submenu__close {
    display: none;
  }
}
@media (min-width: 768px) {
  .submenu__close {
    display: block;
  }
}
.submenu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .submenu__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .submenu__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .submenu__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .primary-menu__item:nth-last-child(-n + 3) .submenu {
    left: auto;
    right: -1px;
  }
}
.submenu__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
}
@media (min-width: 768px) {
  .submenu__column {
    padding: 13px 20px;
  }
}
.submenu__hub {
  margin: 0;
}
.submenu__hub dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .submenu__hub {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .submenu-hub__content.is-popup {
    background: #171717;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 45px;
    top: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 99;
  }
  .submenu-hub__content.is-popup:not(.is-active) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@media (max-width: 767px) {
  .submenu__featured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .submenu__featured .figure-image--wrapper {
    display: none;
  }
}
@media (min-width: 768px) {
  .submenu__featured {
    background-color: #2d2d2d;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 240px;
    width: 240px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .submenu--large .submenu__featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
  }
}
.submenu__feature {
  cursor: pointer;
  display: block;
  position: relative;
}
@media (max-width: 767px) {
  .submenu__feature {
    font-size: 16px;
    font-size: 1.6rem;
    border-top: 1px solid rgba(45, 45, 45, 0.15);
    color: #fff;
    padding: 10px 20px;
    padding-left: 40px;
  }
  .submenu__feature:active,
  .submenu__feature:hover {
    color: #fff;
  }
  .user-touch .submenu__feature:active,
  .user-touch .submenu__feature:hover {
    text-decoration: none;
  }
  .no-touch .submenu__feature:active,
  .no-touch .submenu__feature:hover {
    text-decoration: underline;
  }
}
@media (min-width: 768px) {
  .submenu__feature {
    border: 1px solid #373737;
  }
  .submenu__feature:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .submenu--large .submenu__feature {
    width: calc(25% - 15px);
  }
  .submenu--large .submenu__feature:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.submenu-feature__caption {
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .submenu-feature__caption {
    font-size: 15px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.85);
    color: #55beff;
    padding: 5px 10px;
    position: absolute;
  }
}
.submenu__hublist {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
:lang(ja) .submenu__hublist,
:lang(zh) .submenu__hublist,
:lang(ko) .submenu__hublist {
  list-style: none;
  padding-left: 0;
}
@media (min-width: 768px) {
  .submenu__hublist {
    font-size: 17px;
    font-size: 1.7rem;
    width: 170px;
  }
}
.submenu-hublist__link {
  cursor: pointer;
  display: block;
}
@media (max-width: 767px) {
  .submenu-hublist__link {
    font-size: 16px;
    font-size: 1.6rem;
    border-top: 1px solid rgba(45, 45, 45, 0.15);
    color: #fff;
    padding: 10px 20px;
    padding-left: 40px;
  }
  .submenu-hublist__link:active,
  .submenu-hublist__link:hover {
    color: #fff;
  }
  .user-touch .submenu-hublist__link:active,
  .user-touch .submenu-hublist__link:hover {
    text-decoration: none;
  }
  .no-touch .submenu-hublist__link:active,
  .no-touch .submenu-hublist__link:hover {
    text-decoration: underline;
  }
  .is-popup .submenu-hublist__link {
    font-size: 18px;
    font-size: 1.8rem;
    border-bottom: 1px solid #373737;
    padding: 10px 20px;
  }
}
@media (min-width: 768px) {
  .submenu-hublist__link {
    border-bottom: 1px solid #373737;
    color: #55beff;
    padding: 7px 4px;
    -webkit-transition: background-color 0.3s, padding 0.5s;
    transition: background-color 0.3s, padding 0.5s;
  }
  .submenu-hublist__link:hover,
  .submenu-hublist__link:focus {
    background-color: #373737;
    color: #55beff;
    padding: 7px 0 7px 8px;
    text-decoration: none;
  }
}
@media (min-width: 768px) {
  .submenu-hub__title {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .submenu-hub__title:nth-child(n + 2) {
    margin-top: 20px;
  }
}
.submenu-hubtitle__label {
  padding: 7px 0;
  display: block;
}
@media (min-width: 768px) {
  .submenu-hubtitle__label {
    line-height: 1.2;
  }
}
.submenu-hubtitle__button {
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-size: 1.6rem;
  border-top: 1px solid rgba(45, 45, 45, 0.15);
  color: #fff;
  padding: 10px 20px;
  padding-left: 40px;
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  position: relative;
  text-align: left;
  width: 100%;
  cursor: pointer;
}
.submenu-hubtitle__button:active,
.submenu-hubtitle__button:hover {
  color: #fff;
}
.user-touch .submenu-hubtitle__button:active,
.user-touch .submenu-hubtitle__button:hover {
  text-decoration: none;
}
.no-touch .submenu-hubtitle__button:active,
.no-touch .submenu-hubtitle__button:hover {
  text-decoration: underline;
}
.submenu-hubtitle__button:active,
.submenu-hubtitle__button.is-active,
.submenu-hubtitle__button:hover {
  color: #fff;
}
.submenu-hubtitle__button:active .no-touch,
.submenu-hubtitle__button.is-active .no-touch,
.submenu-hubtitle__button:hover .no-touch {
  text-decoration: underline;
}
.submenu-hubtitle__button:after {
  content: ">";
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  width: 45px;
  text-align: center;
  line-height: 19px;
  font-weight: bold;
  font-size: 20px;
  padding: 0 5px;
}
.submenu-hubtitle__link {
  cursor: pointer;
}
.submenu-hubtitle__link:active,
.submenu-hubtitle__link.is-active,
.submenu-hubtitle__link:hover {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767px) {
  .submenu-hubtitle__link {
    font-size: 16px;
    font-size: 1.6rem;
    border-top: 1px solid rgba(45, 45, 45, 0.15);
    color: #fff;
    padding: 10px 20px;
    padding-left: 40px;
  }
  .submenu-hubtitle__link:active,
  .submenu-hubtitle__link:hover {
    color: #fff;
  }
  .user-touch .submenu-hubtitle__link:active,
  .user-touch .submenu-hubtitle__link:hover {
    text-decoration: none;
  }
  .no-touch .submenu-hubtitle__link:active,
  .no-touch .submenu-hubtitle__link:hover {
    text-decoration: underline;
  }
}
@media (min-width: 768px) {
  .submenu-hubtitle__link {
    color: #fff;
    -webkit-transition: background-color 0.3s, padding 0.5s;
    transition: background-color 0.3s, padding 0.5s;
  }
  .submenu-hubtitle__link:active,
  .submenu-hubtitle__link.is-active,
  .submenu-hubtitle__link:hover {
    background-color: #21627c;
    padding: 7px 0 7px 8px;
  }
}
.search {
  display: none;
  margin-left: 5px;
  position: relative;
}
@media (min-width: 768px) {
  .search {
    display: inline-block;
  }
}
.search__link {
  color: #fff;
  line-height: 1 !important;
  padding-right: 0 !important;
}
.search__link:focus,
.search__link:hover {
  color: #55beff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .search__link {
    display: none !important;
  }
}
.search__link .o-icon {
  margin-right: 0;
}
.search__field {
  background: transparent;
  border: 1px solid #454545;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fefefe;
  font-size: 14px;
  height: 24px;
  padding: 2px 5px;
  padding-right: 34px;
  width: 150px !important;
}
.search__field:focus {
  border-color: #55beff;
}
.search__field:focus + .search__submit {
  border-color: #55beff;
}
.search__submit {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-left: 1px solid #454545;
  color: #fff;
  line-height: 10px;
  padding: 0;
  position: absolute;
  right: 1px;
  top: 4px;
  vertical-align: top;
  width: 34px;
}
.search__submit .o-icon {
  margin-right: 0;
}
.search__submit svg {
  fill: currentColor;
  height: 15px;
  margin: 0 auto;
}
.search__submit:hover,
.search__submit:focus {
  color: #55beff;
  outline: 0 none;
}
.autocomplete-search {
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: #202020;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  overflow: auto;
  position: absolute;
  z-index: 102;
}
:lang(ja) .autocomplete-search,
:lang(zh) .autocomplete-search,
:lang(ko) .autocomplete-search {
  list-style: none;
  padding-left: 0;
}
.autocomplete-search .ui-menu-item {
  font-size: 14px;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 3px 6px;
  -webkit-transition: 0.4s, padding 0.5s;
  transition: 0.4s, padding 0.5s;
}
:lang(ja) .autocomplete-search .ui-menu-item {
  font-size: 12px;
  font-size: 1.2rem;
}
.autocomplete-search .ui-menu-item:focus,
.autocomplete-search .ui-menu-item:hover,
.autocomplete-search .ui-menu-item.ui-state-active,
.autocomplete-search .ui-menu-item.ui-state-focus {
  background-color: #373737;
  margin: 0;
  padding: 3px 2px 3px 10px;
}
.ui-helper-hidden-accessible {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.header-row {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.header-row--hidden {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.pagehead {
  color: #fff;
}
@media (max-width: 767px) {
  .pagehead__sticky\@tablet- {
    margin-top: 0;
    -webkit-transition: margin-top 0.5s;
    transition: margin-top 0.5s;
    background-color: #171717;
  }
  .sticky-header--hidden .pagehead__sticky\@tablet- {
    margin-top: -57px;
  }
}
@media (min-width: 768px) {
  .pagehead__sticky\@tablet\+ {
    margin-top: 0;
    -webkit-transition: margin-top 0.5s;
    transition: margin-top 0.5s;
  }
  .sticky-header--hidden .pagehead__sticky\@tablet\+ {
    margin-top: -97px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .sticky-header--hidden .pagehead__sticky\@tablet\+ {
    margin-top: -102px;
  }
}
.pagehead__container {
  background-color: #171717;
}
.pagehead__wrapper {
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .pagehead__wrapper {
    padding-bottom: 0;
    padding-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .pagehead__wrapper {
    position: static;
  }
}
@media (min-width: 1024px) {
  .pagehead__wrapper {
    padding-top: 20px;
  }
}
.pagehead__row:before,
.pagehead__row:after {
  content: " ";
  display: table;
}
.pagehead__row:after {
  clear: both;
}
@media (max-width: 767px) {
  .pagehead__row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .pagehead-row__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .pagehead-row__item--logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 37px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  :lang(zh) .pagehead-row__item--logo {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  .pagehead-row__item--utilities {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
@media (min-width: 768px) {
  .pagehead-row__item--mobile-menu {
    display: none;
  }
}
.utilities {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 15px;
  font-size: 1.5rem;
  color: #55beff;
}
.utilities:before,
.utilities:after {
  content: " ";
  display: table;
}
.utilities:after {
  clear: both;
}
:lang(ja) .utilities,
:lang(zh) .utilities,
:lang(ko) .utilities {
  list-style: none;
  padding-left: 0;
}
.utilities :lang(jp) {
  font-size: 13px;
  font-size: 1.3rem;
}
@media (max-width: 767px) {
  .utilities {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .utilities {
    float: right;
    margin-top: 2px;
  }
}
.utilities__divider {
  border-right: 1px solid #373737;
  margin-right: 5px;
  padding-right: 5px;
}
.utilities__item {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 768px) {
  .utilities__item {
    float: left;
  }
}
@media (max-width: 767px) {
  .utilities__item--edition-switcher {
    display: none;
  }
}
.utilities__link {
  padding: 0 5px;
}
.utilities__link:not(.primary-menu__mobile-button) {
  display: block;
  line-height: 24px;
}
.utilities__mobile-menu {
  color: #fff;
  float: left;
}
.search-banner__wrapper {
  position: relative;
}
.search-banner__container {
  left: 0;
  position: absolute;
  width: 100vw;
  right: 0;
  top: 15px;
  z-index: 9;
  cursor: default;
}
.search-banner {
  background-color: #21627c;
  padding: 20px;
}
.search-banner__constrained {
  margin: auto;
  max-width: 600px;
}
.search-banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 400px;
}
.o-button.search-banner__button {
  background: #fff;
  border: none;
  border-radius: 0;
  height: 43px;
  margin: 0;
  padding: 13px;
}
.o-button .o-icon.search-banner__button__icon {
  margin: 0;
}
.o-button .o-icon.search-banner__button__icon svg.search {
  fill: #444;
  fill-rule: nonzero;
  width: 18px;
  height: 18px;
}
.o-button.search-banner__button:hover,
.o-button.search-banner__button:focus,
.o-button.search-banner__button:active {
  background-color: #fff;
}
.search-banner__text {
  border: none;
  border-radius: 0;
  height: 43px;
  padding-left: 16px;
  width: 100%;
  color: #444;
}
.search__link:focus,
.search__link:hover {
  color: #fff;
}
.popular-searches,
.popular-searches ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.popular-searches li,
.popular-searches ul li {
  list-style: none;
}
.popular-searches p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 16px;
  margin-bottom: 7px;
  text-align: center;
  width: 100%;
}
.popular-searches__item {
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 19px;
  color: #fff;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 6px 11px;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
  word-break: keep-all;
}
.popular-searches__item:hover,
.popular-searches__item:focus,
.popular-searches__item:active {
  background-color: #fff;
  color: #333;
  text-decoration: none;
}
.js-search {
  display: none;
}
.search-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  cursor: pointer;
  padding-left: 5px;
  background: none;
  border: none;
}
.search-link .search-desktop-text {
  display: none;
}
.search-link--closed .search-icon {
  display: block;
}
.search-link--closed .close-icon {
  display: none;
}
.search-link--open .search-icon {
  display: none;
}
.search-link--open .close-icon {
  display: block;
}
.search-link--open .search-desktop-text {
  margin-left: 5px;
}
.search-desktop-text {
  display: none;
}
@media (min-width: 640px) {
  .search-banner__container {
    top: 10px;
  }
}
@media (min-width: 768px) {
  .search-banner__container {
    top: 54px;
  }
  .search-link .search-desktop-text {
    margin-bottom: 0;
    margin-top: 2px;
    display: block;
  }
  .search-banner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .search-banner__form {
    margin-bottom: 35px;
  }
  .search-icon svg {
    width: 16px;
  }
  .close-icon {
    margin: 0 -4px;
  }
}
