:root {
  --font-hero: 180px;
  --font-page-heading: 50px;
  --font-page-subheading: 30px;
  --font-accordion-heading: 50px;
  --font-accordion-heading-small: 36px;
  --font-mindset-heading: 38px;
  --font-quote: 59px;
  --font-larger: 28px;
  --font-large: 26px;
  --font-base: 22px;
  --font-small: 19px;
  --font-badge: 18px;
  --font-smallest: 17px;
  --font-tiny: 12px;
  --font-footer-badge: 14px;
}

@media screen and (max-width: 768px) {
  :root {
    --font-hero: 80px;
    --font-page-heading: 30px;
    --font-page-subheading: 20px;
    --font-accordion-heading: 30px;
    --font-accordion-heading-small: 20px;
    --font-mindset-heading: 24px;
    --font-quote: 49px;
    --font-larger: 24px;
    --font-large: 22px;
    --font-base: 18px;
    --font-small: 16px;
    --font-badge: 14px;
    --font-smallest: 16px;
    --font-tiny: 12px;
    --font-footer-badge: 14px;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

main {
  min-height: calc(100vh - 312px);
  /* max-width: 1366px; */
  /* margin: 0 auto; */
}

#root {
  color: black;
}

.overview-icon {
  color: #00a8de;
}
