.overviewLink {
  font-size: var(--font-accordion-heading-small);
  font-weight: 800;
  display: block;
  margin-top: 16px;
  height: 62px;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.overviewLink span {
  color: #00a8de;
  margin-right: 4px;
}

.overviewLink:hover,
.overviewLink:active,
.overviewLink:focus {
  color: #00a8de;
  text-decoration: underline;
}

.header {
  max-width: 1188px;
  margin: 0 auto;
  text-align: left;
  padding: 0px 16px;
}

.header h1 {
  text-align: left;
  margin: 0;
  color: #1d1d1b;
}

.overview {
  max-width: 1188px;
  margin: 0 auto;
  text-align: left;
  padding: 0px 16px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.overview > p,
.overview > div {
  max-width: 981px;
  margin-left: 20px;
}

.content {
  max-width: 1188px;
  margin: 0 auto;
  text-align: left;
  padding: 0px 16px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.content small {
  font-size: var(--font-tiny);
}

.domesticInternational {
  margin-top: 48px;
}

.domesticInternationalHeader {
  width: 100%;
  border-bottom: 2px solid #00a8de;
  display: flex;
  align-items: center;
}

.domesticInternationalHeader button {
  background: #ffffff;
  border: 2px solid #00a8de;
  box-sizing: border-box;
  border-radius: 40px 40px 0px 0px;
  color: #00a8de;
  font-size: var(--font-larger);
  font-weight: 800;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  transition: 0.25s ease-in-out;
}

.domesticInternationalHeader button svg {
  margin-right: 4px;
  height: 30px;
  /* width: 30px; */
}
.domesticInternationalHeader button svg path {
  transition: 0.25s ease-in-out;
  /* fill: 00a8de; */
}

.domesticInternationalHeader button + button {
  margin-left: 18px;
}

.domesticInternationalHeader button:active,
.domesticInternationalHeader button:focus,
.domesticInternationalHeader button:hover,
.domesticInternationalHeader button.active {
  background: #00a8de;
  color: white;
}

.domesticInternationalHeader button:active svg path,
.domesticInternationalHeader button:focus svg path,
.domesticInternationalHeader button:hover svg path,
.domesticInternationalHeader button.active svg path {
  fill: white;
}

.domesticInternationalContent {
  margin-top: 16px;
}

.domesticInternationalFilters {
  display: flex;
  align-items: center;
}

.domesticInternationalFilters button {
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 9px;
  font-weight: 800;
  font-size: var(--font-smallest);
  text-align: center;
  color: #000000;
  transition: all 0.25s ease-in-out;
}

.domesticInternationalFilters button + button {
  margin-left: 18px;
}

.domesticInternationalFilters button:active,
.domesticInternationalFilters button:focus,
.domesticInternationalFilters button:hover,
.domesticInternationalFilters button.active {
  background: black;
  color: white;
}

.domesticInternationalImages {
  min-height: 450px;
  margin-top: 40px;
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 768px) {
  .overview > p,
  .overview > div {
    max-width: 100%;
    margin-left: 0px;
  }

  .domesticInternationalHeader {
    justify-content: space-between;
  }
  .domesticInternationalHeader button {
    font-size: 20px;
    padding: 6px 26px;
  }

  .domesticInternationalHeader svg {
  }

  .domesticInternationalFilters {
    flex-wrap: wrap;
  }
  .domesticInternationalFilters button {
    width: 100%;
    margin: 4px 0px 0px 0px !important;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .domesticInternationalImages {
    margin-top: 32px;
    min-height: 240px;
  }
}
