.mindsetsOverview {
  margin-top: 64px;
}

.header {
  max-width: 1156px;
  margin: 0 auto;
  text-align: left;
  padding: 0px 16px;
}

.header h1 {
  text-align: left;
  margin: 0;
  color: #1d1d1b;
}

.content {
  max-width: 1156px;
  margin: 0 auto;
  text-align: left;
  padding: 0px 16px;
}

.accordion {
  margin-bottom: 84px;
}

.accordionItem {
  padding-top: 50px;
}

.accordionIcon {
  height: 77px;
  width: 77px;
  background: blue;
  margin-right: 34px;
}

.accordionHeadingWrapper {
  display: flex;
  position: relative;
  padding-bottom: 70px;
  padding-left: 44px;
  padding-right: 44px;
  /* border-bottom: 2px solid black; */
}
.accordionHeading {
  width: calc(50% - 40px);
}

.accordionHeadingContent {
  width: calc(50% - 40px);
}

.accordionLink {
  text-align: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  padding: 0px 44px;
}

.accordionContent.open {
  max-height: 100vh;
  opacity: 1;
}

.accordionContent p:first-child {
  margin-top: 0;
}

.activitiesHeader {
  font-size: var(--font-larger);
  margin-top: 84px;
  margin-bottom: 24px;
}

.activities {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 154px;
}

.activity {
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 4px 12px;
  color: black;
  text-decoration: none;
  margin-right: 6px;
  margin-top: 12px;
  font-size: var(--font-footer-badge);
  font-weight: 800;
  transition: all 0.25s ease-in-out;
}
