.mindsets {
  position: relative;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999999999;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 60px;
}

.modal {
  text-align: center;
}
.modal a {
  color: #00a8de;
}
.modal .closeButton {
  position: absolute;
  right: 32px;
  top: 32px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  color: black;
  text-decoration: none;
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  display: inline-block;
}

.modal .closeButton:hover,
.modal .closeButton:focus {
  background: black;
  color: white;
}

.pdfBtn {
  position: absolute;
  top: 150px;
  right: 15px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 40px;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
  font-size: var(--font-footer-badge);
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  display: inline-block;
}

.overviewLink {
  font-size: var(--font-accordion-heading-small);
  font-weight: 800;
  display: block;
  margin-top: 16px;
  height: 62px;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.overviewLink span {
  color: #00a8de;
  margin-right: 4px;
}

.overviewLink:hover,
.overviewLink:active,
.overviewLink:focus {
  color: #00a8de;
  text-decoration: underline;
}

.header {
  max-width: 1188px;
  margin: 0 auto;
  text-align: left;
  padding: 0px 16px;
  position: relative;
}

.headerIcon {
  position: absolute;
  right: 16px;
  top: 0;
  max-width: 106px;
  height: 140px;
}

.headerIcon svg {
  height: 100%;
  width: 100%;
}
.header h1 {
  text-align: left;
  margin: 0;
  color: #1d1d1b;
}

.content {
  max-width: 1188px;
  margin: 0 auto;
  text-align: left;
  padding: 0px 16px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.subhead {
  font-size: var(--font-page-subheading);
  font-weight: 800;
}

.intro {
  font-size: var(--font-page-subheading);
  font-weight: 600;
  line-height: 1.14;
  max-width: 90%;
}

.accordion {
  margin-bottom: 84px;
}

.accordionItem {
  padding-top: 50px;
}

.accordionItem:first-child {
  padding-top: 0px;
}

.accordionHeadingWrapper {
  display: flex;
  position: relative;
  padding-bottom: 38px;
  padding-left: 44px;
  padding-right: 44px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border-bottom: 2px solid black; */
}

.accordionIcon {
  height: 77px;
  width: 77px;
  margin-right: 34px;
}

.accordionIcon svg {
  width: 100%;
  height: 100%;
}

.accordionHeading {
  width: calc(50% - 40px);
  font-size: var(--font-accordion-heading-small);
  /* line-height: var(--font-accordion-heading-small); */
  line-height: 1;
  font-weight: 400;
}

.boldAccordionHeading {
  font-weight: 800;
}

.accordionHeadingContent {
  width: 40%;
  font-size: var(--font-base);
  line-height: 1.14;
  font-weight: 800;
}

.accordionLink {
  text-align: center;
  width: 100%;
  height: 50px;
  border: none;
  background: white;
  display: block;
}

.accordionLink svg {
  transition: 0.25s ease-in-out;
  transform: rotate(180deg);
  display: inline-block;
}

.accordionLink.open svg {
  transform: rotate(0deg);
}

.accordionLink path {
  transition: 0.25s ease-in-out;
}
.accordionLink:hover path,
.accordionLink:focus path,
.accordionLink:active path {
  stroke: #00a8de;
}

.border {
  border-bottom: 2px solid black;
}
.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: all 0s ease-in-out;
  margin-bottom: 32px;
  /* padding: 0px 44px; */
  position: relative;
}

.accordionContent.open {
  max-height: 400vh;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}

.accordionContent p:first-child {
  margin-top: 0;
}

.boxouts {
  position: relative;
  margin-bottom: 32px;
}

.accordionBody {
  position: relative;
}

.accordionBody > *:last-child {
  margin-bottom: 0px;
}

.activitiesHeader {
  font-size: var(--font-larger);
  margin-bottom: 12px;
}

.activities {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 204px;
}

.activity {
  margin-right: 6px;
  margin-top: 12px;
}

.activity a {
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
  font-size: var(--font-footer-badge);
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  display: inline-block;
}

.activity a:hover,
.activity a:focus,
.activity a:active {
  background: #00a8de;
  color: black;
  text-decoration: none;
}

.fullImage {
  height: 717px;
  width: 100%;
  margin-top: 32px;
}

@media screen and (min-width: 1024px) {
  .tripleBoxout {
    display: flex;
    margin-left: -4px;
    margin-right: -4px;
  }

  .tripleBoxout > div {
    width: calc(33.33% - 8px);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0 !important;
  }

  .tripleBoxout > div > div > div + div {
    right: 2.5%;
    width: 95%;
    min-height: 335px;
  }

  .tripleBoxout > div > div > div + div > div {
    height: 75%;
  }
}

@media screen and (max-width: 1023px) {
  .accordionHeadingWrapper {
    padding: 0px;
    margin-bottom: 16px;
  }
  .accordionIcon {
    height: 48px;
    margin-right: 0px;
  }
  .accordionHeading {
    width: 60%;
  }
  .accordionHeadingContent {
    width: 100%;
    margin-top: 16px;
    /* margin-bottom: 32px; */
  }
  .accordionContent {
    padding-left: 0;
    padding-right: 0;
  }
}

.pageBreak {
  page-break-before: always;
  clear: both;
  display: block;
} /* page-break-after works, as well */
