.continuum {
  width: 300px;
}

.continuumTitle {
  width: 100%;
  text-align: center;
  font-size: var(--font-small);
  font-weight: 800;
  line-height: 1.1;
}

.continuumContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.continuumGraphic {
  width: 100%;
  margin-top: 20px;
  height: 100%;
}
