.footer {
  background: black;
  color: white;
  position: relative;
  min-height: 312px;
  width: 100%;
  overflow: hidden;
}

.content {
  padding: 36px 16px;
  max-width: var(--page-max-width);
  margin: 0 auto;
  position: relative;
  /* adjust on home */
}

.headline {
  font-size: var(--font-page-subheading);
  font-weight: 800;
}

.mindsets {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}

.mindsetRow {
  position: relative;
}

.mindsetRow + .mindsetRow {
  margin-top: 40px;
}
.mindsetHeader {
  min-width: 148px;
  color: #00a8de;
  font-size: var(--font-base);
  /* line-height: 26px; */
  position: absolute;
  left: 0;
  top: 0px;
  display: flex;
  align-items: center;
}

.mindsetHeader svg {
  height: 27px;
  width: 27px;
  margin-right: 8px;
}

.mindsetBadges {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 170px;
  margin-top: -12px;
  width: 80%;
}

.mindsetBadge {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 4px 12px;
  color: black;
  text-decoration: none;
  margin-right: 6px;
  margin-top: 12px;
  font-size: var(--font-footer-badge);
  font-weight: 800;
  transition: all 0.25s ease-in-out;
}

.mindsetBadge.disabled {
  background: #aaa;
  cursor: no-drop;
}

.mindsetBadge:hover:not(.disabled),
.mindsetBadge:focus:not(.disabled),
.mindsetBadge:active:not(.disabled),
.mindsetBadge.active:not(.disabled) {
  background: #00a8de;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .mindsetRow {
  }
  .mindsetHeader {
    width: 100%;
    position: relative;
  }
  .mindsetBadges {
    margin: 0;
    width: 100%;
  }
}
