.universalTruths {
  max-width: 1188px;
  /* max-width: 942px; */
  margin: 0 auto;
  padding: 24px 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  /* padding-top: 32px; */
  position: relative;
}

.universalTruths:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border: 1px solid #000;
}

.universalTruths:after {
  top: initial;
  bottom: 0;
}

.headline {
  text-align: center;
  /* font-size: 26px; */
  font-size: var(--font-page-subheading);
  /* line-height: 30px; */
  font-weight: 800;
  position: relative;
  max-width: 1188px;
  padding: 0px 16px;
}

.content {
  max-width: 836px;
  padding-left: 20px;
  margin: 0 auto;
  position: relative;
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}

.content > div {
  margin-top: 70px;
}

.content.open {
  max-height: 300vh;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}

h4 {
  font-size: var(--font-larger);
  line-height: 30px;
  font-weight: 800;
  margin-top: 0;
}

.content:before {
  content: "";
  border-left: 2.625px solid #00a8de;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
}

.content > div h4 + p + p,
.content > div h4 + p + p + p {
  margin-top: 20px;
}
.content p {
  font-size: var(--font-small) !important;
  line-height: 1.2 !important;
  margin: 0px;
}

.content p strong {
  display: block;
  margin-top: 20px;
}
.content .paragraphHeader + p {
  margin: 0;
}

.content b,
.content strong {
  font-weight: 800;
  margin: 0;
}

.universalTruthsArrow {
  display: block;
  text-align: center;
  margin-top: 60px;
}
.universalTruthsArrow svg {
  transition: 0.25s ease-in-out;
  text-align: center;
  transform: rotate(180deg);
}

.universalTruthsArrow.open svg {
  transform: rotate(0deg);
}

.universalTruths path {
  transition: 0.25s ease-in-out;
}
.universalTruths:hover path,
.universalTruths:focus path,
.universalTruths:active path {
  stroke: #00a8de;
}
